<div class="cont-snap">
  <div class="flex flex-col">
    <% fotd = @lists.sample.movies.sample %>
    <div class="z-1 relative bg-no-repeat bg-cover grid grid-cols-3 h-10vph w-screen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= fotd.poster_url.present? ? fotd.poster_url : asset_path('square.webp') %>)" >
      <div class="play self-center justify-self-center order-2">
        <%= show_svg('play2.svg') %>
      </div>
      <div class="content-main w-30pv order-1 self-end ml-5 mb-5">
        <p class="text-white">Film of the day</p>
        <%= link_to movie_path(fotd) do %>
        <h1 class="text-6xl text-white pb-2"><%= fotd.title %></h1>
        <% end %>
        <p class="text-white font-bold pb-2">Cuacklist Rating: <%= fotd.rating.round(2) %></p>
        <p class="text-white text-sm pb-2"><%= fotd.overview %></p>
      </div>
      <div class="add order-3">
        <%# <a href="/favourites/5/bookmarks/new">
          <%= show_svg('add.svg') %>
        <%# </a> %>
      </div>
    </div>
  </div>
  <div class="conteiner flex w-screen items-center">
    <div class="absolute left-panel bg-white opacity-80 h-full flex flex-col">
      <h1 class="text-3xl text-oxford ml-3 hover:cursor-default">Your Playlists</h1>
    </div>
    <div class="list-carousel inline-grid grid-flow-col overflow-hidden w-screen gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <% @lists.each do |list| %>
        <div class="list-card my-8 mx-1 flex align-middle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.movies.present? ? list.movies.first.poster_url : asset_path('square.webp') %>)">
          <div class="list-card-content grid grid-flow-row grid-rows-3 items-center">
            <div class="add-card order-1 self-baseline justify-self-end mr-2 mt-2">
              <%# <a href="#">
                <%= show_svg('add.svg') %>
              <%# </a> %>
            </div>
            <div class="order-2"></div>
            <div class="div order-3 self-end mb-3">
              <%= link_to list_path(list) do %>
                <h1 class="order-2 text-3xl font-bold text-white ml-2"><%= list.name.capitalize %></h1>
              <% end %>
              <span class="hidden font-inter text-white text-sm order-3 ml-2"><%= list.description %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <div class="flex flex-col">
    <% movie = @lists.sample.movies.sample %>
      <div class="z-1 relative bg-no-repeat bg-cover grid grid-cols-3 h-10vph w-screen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url.present? ? movie.poster_url : asset_path('square.webp') %>)" >
        <div class="play self-center justify-self-center order-2">
          <%= show_svg('play2.svg') %>
        </div>
        <div class="content-main w-30pv order-1 self-end ml-5 mb-5">
          <p class="text-white pb-2">Recommended Film</p>
          <%= link_to movie_path(movie) do %>
            <h1 class="text-5xl text-white pb-2"><%= movie.title %></h1>
          <% end %>
          <p class="text-white pb-2">Cuacklist rating: <%= movie.rating.round(2) %></p>
          <p class="text-white text-sm"><%= movie.overview %></p>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-oxford text-5xl mt-8 ml-3">Your all time favourites</h1>
  <div class="conteiner flex w-screen items-center">
    <div class="absolute left-panel bg-white opacity-80 h-full flex flex-col">
      <h1 class="text-3xl text-oxford ml-3 hover:cursor-default">Favourite Films</h1>
    </div>
    <div class="list-carousel inline-grid grid-flow-col overflow-hidden w-screen gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <% Bookmark.where(list_id: 93).each do |mov| %>
      <% movie = mov.movie %>
        <div class="list-card my-8 mx-1 flex align-middle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
          <div class="list-card-content grid grid-flow-row grid-rows-3 items-center">
            <div class="add-card order-1 self-baseline justify-self-end mr-2 mt-2">
              <%# <a href="#">
                <%= show_svg('add.svg') %>
              <%# </a> %>
            </div>
            <div class="order-2"></div>
            <div class="div order-3 self-end mb-3">
              <%= link_to movie_path(movie) do %>
                <h1 class="order-2 text-3xl font-bold text-white ml-2 text-clip"><%= movie.title %></h1>
              <% end %>
              <span class="hidden font-inter text-white text-sm order-3 ml-2"><%= movie.tagline %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
